<?xml version="1.0"?>
<robot name="sensor_hokuyo" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_gazebo.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/common_properties.urdf.xacro"/>

  <!-- RPLidar 2D LIDAR -->    
  <xacro:macro name="sensor_hokuyo" params="parent">    
        <joint name="laser" type="fixed">    
          <origin xyz="0.125 0 0.48" rpy="0 0.0 0.0" />    
          <parent link="${parent}" />    
          <child link="base_laser_link" />    
        </joint>    
        
        <link name="base_laser_link">    
          <visual> 
            <origin xyz="-0.03 0 -0.043" />    
            <geometry>    
              <box size="0.07 0.07 0.085" />    
            </geometry>    
            <material name="material_orange" />    
          </visual>    
          <inertial>    
            <mass value="0.000001" />    
            <origin xyz="0 0 0" />    
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0"    
              iyy="0.0001" iyz="0.0"    
              izz="0.0001" />    
          </inertial>    
        </link>    
        
        <!-- Set up laser gazebo details -->    
        <turtlebot_sim_2dsensor/>  
   </xacro:macro>    
</robot>